<div *ngIf="page.headerref" class="row" style="margin-top: 3.8rem;">
  <div class="col-xs-12">
    <app-header [ref]="page.headerref"></app-header>
  </div>
</div>
<div *ngIf="page.intro" class="row" style="margin-top: 1.5rem;">
  <app-intro [data]="page.intro"></app-intro>
</div>
<div *ngIf="page.cardrefs" class="row" style="margin-top: 1.5rem;">
  <div *ngFor="let cardref of page.cardrefs">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <app-card [ref]="cardref"></app-card>
    </div>
  </div>
</div>
<div *ngIf="page.clubs_url" class="row" style="margin-top: 1.5rem;">
  <div class="col-xs-12">
    <app-club-list [clubs_url]="page.clubs_url"></app-club-list>
  </div>
</div>
<div *ngIf="page.poules_url" class="row" style="margin-top: 1.5rem;">
  <div class="col-xs-12">
    <app-poule-list [poules_url]="page.poules_url"></app-poule-list>
  </div>
</div>

